#header {
	width: 100%;
	background: rgba(56,9,0, 1.0);
	color: white;
	font-size: 20px;
}

#logo-header {
	height: 150px
}

#menu-widget {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 600%;
}


#menu-list {
	list-style-type: none;
	text-align: center;
	padding: 0px;
}

#menu-area {
	text-align: center;
	display: none;
}

.menu-item {
	background: rgba(95, 93, 106, 1.0);
	color: white;
	border-radius: 5px;
	border: 1px solid black;
	margin-bottom: 1px;
	font-size: 200%;
	margin-left: 10px;
	margin-right: 10px;
}

#content-area {
	color: white;
}

.main-exercise {
	width: 95%;
	border: 10px solid rgba(56,9,0, 1.0);
	margin: auto;
	border-radius: 15px;
	background: rgba(117, 116, 115, 1.0);
	color: white;
	font-size: 110%;
	padding: 10px;
}

#main-e-name {
	font-size: 200%;
	text-align: center;
	color: rgba(56,9,0, 1.0);
	font-weight: bold;
}

body {
	background: black;
}

.title {
	font-weight: bold;
	font-size: 125%;
	color: rgba(56,9,0, 1.0);
}

.title-muscle {
	text-align: right;
}

.next-prev-div {
	text-align: right;
	width: 95%;
	color: white;
	font-size: 125%;
}
.next-prev-div:hover {
	cursor: pointer;
}

#exercise-img-div {
	width: 50%;
	float: right;
	border: 1px solid black;
}

hr {
	background-color: rgba(55, 53, 52, 1.0);
}

.eq-selector {
	font-size: 120%;
}

#equipment-list {
	padding: 0px;
}

#equipment-list li {
	display: inline-block;
	width: 24%;
	border: 1px solid white;
	padding: 10px 0px 10px 10px;
	border-radius: 5px;
}

a:link {
	color: white;
}

@media screen and (min-width: 1024px) {
	#logo-header {
		height: 75px;
	}
	#menu-widget {
		font-size: 300%;
	}

}
