<div class="next-prev-div">
	<a href="#/">Start exercise
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>

<h2 style="text-align: center">Select Equipment</h2><br /><br />
<ul id="equipment-list">
	<li>	
	<input type="checkbox" ng-model="equipment.Bands">
	<span class="eq-selector">Bands</span>
	</input>
	</li>

	<li>
	<input type="checkbox" ng-model="equipment.Barbell">
	<span class="eq-selector">Barbell</span>
	</input>
	</li>

	<li>
	<input type="checkbox" ng-model="equipment['Body Only']">
	<span class="eq-selector">Body Only</span>
	</input>
	</li>

	<li>
	<input type="checkbox" ng-model="equipment.Cable">
	<span class="eq-selector">Cable</span>
	</input>
	</li>

	<li>
	<input type="checkbox" ng-model="equipment.Dumbbell">
	<span class="eq-selector">Dumbbell</span>
	</input>
	</li>

	<li>
	<input type="checkbox" ng-model="equipment['E-Z Curl Bar']">
	<span class="eq-selector">E-Z Curl Bar</span>
	</input>
	</li>

	<li>
	<input type="checkbox" ng-model="equipment['Exercise Ball']">
	<span class="eq-selector">Exercise Ball</span>
	</input>
	</li>

	<li>
	<input type="checkbox" ng-model="equipment['Foam Roll']">
	<span class="eq-selector">Foam Roll</span>
	</input>
	</li>

	<li>
	<input type="checkbox" ng-model="equipment.Kettlebells">
	<span class="eq-selector">Kettlebells</span>
	</input>
	</li>

	<li>
	<input type="checkbox" ng-model="equipment['Medecine Ball']">
	<span class="eq-selector">Medicine Ball</span>
	</input>
	</li>

</ul>