<div class="next-prev-div">
	<a href="#/">Start exercise
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>

<h2 style="text-align: center">Select Equipment</h2><br /><br />
<ul id="equipment-list">
	<li>	
	<input type="checkbox" ng-model="equipment.Bands">
	<span class="eq-selector">Bands</span>
	</input>
	</li>

	<li>
	<input type="checkbox" ng-model="equipment.Barbell">
	<span class="eq-selector">Barbell</span>
	</input>
	</li>

	<li>
	<input type="checkbox" ng-model="equipment['Body Only']">
	<span class="eq-selector">Body Only</span>
	</input>
	</li>

	<li>
	<input type="checkbox" ng-model="equipment.Cable">
	<span class="eq-selector">Cable</span>
	</input>
	</li>

	<li>
	<input type="checkbox" ng-model="equipment.Dumbbell">
	<span class="eq-selector">Dumbbell</span>
	</input>
	</li>

	<li>
	<input type="checkbox" ng-model="equipment['E-Z Curl Bar']">
	<span class="eq-selector">E-Z Curl Bar</span>
	</input>
	</li>

	<li>
	<input type="checkbox" ng-model="equipment['Exercise Ball']">
	<span class="eq-selector">Exercise Ball</span>
	</input>
	</li>

	<li>
	<input type="checkbox" ng-model="equipment['Foam Roll']">
	<span class="eq-selector">Foam Roll</span>
	</input>
	</li>

	<li>
	<input type="checkbox" ng-model="equipment.Kettlebells">
	<span class="eq-selector">Kettlebells</span>
	</input>
	</li>

	<li>
	<input type="checkbox" ng-model="equipment['Medecine Ball']">
	<span class="eq-selector">Medicine Ball</span>
	</input>
	</li>

</ul>

<br /><br />

<h2 style="text-align: center">Select Muscles</h2><br /><br />

<ul id="equipment-list">
	<li>	
	<input type="checkbox" ng-model="muscle.Abdominals">
	<span class="eq-selector">Abdominals</span>
	</input>
	</li>

	<li>	
	<input type="checkbox" ng-model="muscle.Abductors">
	<span class="eq-selector">Abductors</span>
	</input>
	</li>

	<li>	
	<input type="checkbox" ng-model="muscle.Adductors">
	<span class="eq-selector">Adductors</span>
	</input>
	</li>

	<li>	
	<input type="checkbox" ng-model="muscle.Biceps">
	<span class="eq-selector">Biceps</span>
	</input>
	</li>

	<li>	
	<input type="checkbox" ng-model="muscle.Calves">
	<span class="eq-selector">Calves</span>
	</input>
	</li>

	<li>	
	<input type="checkbox" ng-model="muscle.Chest">
	<span class="eq-selector">Chest</span>
	</input>
	</li>

	<li>	
	<input type="checkbox" ng-model="muscle.Forearms">
	<span class="eq-selector">Forearms</span>
	</input>
	</li>

	<li>	
	<input type="checkbox" ng-model="muscle.Glutes">
	<span class="eq-selector">Glutes</span>
	</input>
	</li>

	<li>	
	<input type="checkbox" ng-model="muscle.Hamstrings">
	<span class="eq-selector">Hamstrings</span>
	</input>
	</li>

	<li>	
	<input type="checkbox" ng-model="muscle.Lats">
	<span class="eq-selector">Lats</span>
	</input>
	</li>

	<li>	
	<input type="checkbox" ng-model="muscle['Lower Back']">
	<span class="eq-selector">Lower Back</span>
	</input>
	</li>

	<li>	
	<input type="checkbox" ng-model="muscle['Middle Back']">
	<span class="eq-selector">Middle Back</span>
	</input>
	</li>

	<li>	
	<input type="checkbox" ng-model="muscle.Neck">
	<span class="eq-selector">Neck</span>
	</input>
	</li>

	<li>	
	<input type="checkbox" ng-model="muscle.Quadriceps">
	<span class="eq-selector">Quadriceps</span>
	</input>
	</li>

	<li>	
	<input type="checkbox" ng-model="muscle.Shoulders">
	<span class="eq-selector">Shoulders</span>
	</input>
	</li>

	<li>	
	<input type="checkbox" ng-model="muscle.Traps">
	<span class="eq-selector">Traps</span>
	</input>
	</li>

	<li>	
	<input type="checkbox" ng-model="muscle.Triceps">
	<span class="eq-selector">Triceps</span>
	</input>
	</li>





</ul>