<h1>Equipment page</h1>

<h2>Select Equipment</h2>
<input type="checkbox" ng-model="equipment.Bands">
Bands
</input>
<input type="checkbox" ng-model="equipment.Barbell">
Barbell
</input>
<input type="checkbox" ng-model="equipment['Body Only']">
Body Only
</input>
<input type="checkbox" ng-model="equipment.Cable">
Cable
</input>
<input type="checkbox" ng-model="equipment.Dumbbell">
Dumbbell
</input>
<input type="checkbox" ng-model="equipment['E-Z Curl Bar']">
E-Z Curl Bar
</input>
<input type="checkbox" ng-model="equipment['Exercise Ball']">
Exercise Ball
</input>
<input type="checkbox" ng-model="equipment['Foam Roll']">
Foam Roll
</input>
<input type="checkbox" ng-model="equipment.Kettlebells">
Kettlebells
</input>
<input type="checkbox" ng-model="equipment['Medecine Ball']">
Medicine Ball
</input>