<div class="next-prev-div">
	<span ng-click="randomSingle()">Next exercise
		<span class="glyphicon glyphicon-chevron-right"></span>
	</span>
</div>

<div ng-repeat="exercise in exercises">

	<div class="main-exercise">
		<div id="main-e-name">
			<p>{{exercise.Name}}</p>
		</div>
		<hr />
		<div id="exercise-img-div">
			<img src="{{exercise.Pic}}"  style="width:100%"/>
		</div>
		<p><span class="title">Equipment:</span> {{exercise.Equipment}}</p>
		<p><span class="title">Muscle:</span> {{exercise.Muscle}}</p>
		<p><span class="title">Description:</span> {{exercise.Description}}</p>

	<p style="clear: both"></p>
	</div>
</div>